:root {
    --clr-ntrl-100: #FFF;
    --clr-accent-100: #F18119;
    --clr-accent-200: #FF713B;
    --clr-accent-300: #FFA51D;
    --clr-dark-100: #000;

    --fs-100: .625rem;
    --fs-200: 1rem;
    --fs-201: 1.125rem;
    --fs-300: 1.3125rem;
    --fs-301: 1.75rem;
    --fs-400: 2.25rem;
    --fs-401: 3.5rem;

    --fw-100: 400;
    --fw-200: 900;

    --ff-100: 'Source Sans Pro', sans-serif;
}




/*========================================== 
===========   General Settings  ============
============================================ */

/*========================================== 
==============   Typography  ===============
============================================ */

/*========================================== 
===============   Layout  ==================
============================================ */

/*========================================== 
=============   Media Query  ===============
============================================ */